<main>
	<section ng-controller="MenuController as menu">
		<ul class="nav nav-pills">
			<li><a href="" ng-click="selectTab(1)" ng-class="{active: isSelected(1)}">Home</a></li>
			<li><a href="" ng-click="selectTab(2)" ng-class="{active: isSelected(2)}">Create contact</a></li>
			<li><a href="" ng-click="selectTab(3)" ng-class="{active: isSelected(3)}">Edit contact</a></li>
		</ul>
	
		<!-- show contacts -->
		<div class="panel" ng-show="isSelected(1)">
			<contact-list></contact-list>
		</div>

		<!-- create contacts -->
		<div class="panel" ng-show="isSelected(2)">
			<create-contact></create-contact>
		</div>

		<!-- edit contacts -->
		<div class="panel" ng-show="isSelected(3)">
			<edit-contact></edit-contact>
		</div>
	</section>
</main>
