<div>
    <form>
        <div class="input-group">
            <span class="input-group-addon" id="login-username">Username</span>
            <input type="text" class="form-control" placeholder="juanperez89">
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="login-password">Password</span>
            <input type="password" class="form-control">
        </div>
        <button type="button" id="login-button" data-loading-text="Loading..." class="btn btn-primary">
            Enter
        </button>
    </form>
</div>